EmailConfiguration__From=
EmailConfiguration__SmtpServer=
EmailConfiguration__Port=
EmailConfiguration__UserName=
EmailConfiguration__Password=

RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

HangfireConnection=