# NOTE: Requires **VS2019 16.3** or later

# My Rules
# Description: Description here.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.SA0001.severity = none

dotnet_diagnostic.SA1000.severity = none

dotnet_diagnostic.SA1008.severity = none

dotnet_diagnostic.SA1009.severity = none

dotnet_diagnostic.SA1010.severity = none

dotnet_diagnostic.SA1011.severity = none

dotnet_diagnostic.SA1012.severity = none

dotnet_diagnostic.SA1013.severity = none

dotnet_diagnostic.SA1014.severity = none

dotnet_diagnostic.SA1015.severity = none

dotnet_diagnostic.SA1026.severity = none

dotnet_diagnostic.SA1027.severity = none

dotnet_diagnostic.SA1028.severity = none

dotnet_diagnostic.SA1100.severity = none

dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1109.severity = none

dotnet_diagnostic.SA1111.severity = none

dotnet_diagnostic.SA1118.severity = none

dotnet_diagnostic.SA1119.severity = none

dotnet_diagnostic.SA1122.severity = none

dotnet_diagnostic.SA1123.severity = none

dotnet_diagnostic.SA1124.severity = none

dotnet_diagnostic.SA1126.severity = none

dotnet_diagnostic.SA1127.severity = none

dotnet_diagnostic.SA1128.severity = none

dotnet_diagnostic.SA1129.severity = none

dotnet_diagnostic.SA1135.severity = none

dotnet_diagnostic.SA1200.severity = none

dotnet_diagnostic.SA1201.severity = none

dotnet_diagnostic.SA1202.severity = none

dotnet_diagnostic.SA1203.severity = warning

dotnet_diagnostic.SA1204.severity = warning

dotnet_diagnostic.SA1206.severity = none

dotnet_diagnostic.SA1207.severity = none

dotnet_diagnostic.SA1210.severity = none

dotnet_diagnostic.SA1211.severity = none

dotnet_diagnostic.SA1217.severity = none

dotnet_diagnostic.SA1307.severity = none

dotnet_diagnostic.SA1309.severity = none

dotnet_diagnostic.SA1310.severity = none

dotnet_diagnostic.SA1313.severity = warning

dotnet_diagnostic.SA1409.severity = none

dotnet_diagnostic.SA1410.severity = none

dotnet_diagnostic.SA1413.severity = none

dotnet_diagnostic.SA1502.severity = none

dotnet_diagnostic.SA1512.severity = none

dotnet_diagnostic.SA1513.severity = none

dotnet_diagnostic.SA1516.severity = none

dotnet_diagnostic.SA1600.severity = none

dotnet_diagnostic.SA1601.severity = none

dotnet_diagnostic.SA1602.severity = none

dotnet_diagnostic.SA1603.severity = none

dotnet_diagnostic.SA1609.severity = warning

dotnet_diagnostic.SA1633.severity = none

dotnet_diagnostic.SA1642.severity = none

dotnet_diagnostic.SA1643.severity = none

dotnet_diagnostic.SA1644.severity = none

dotnet_diagnostic.SA1652.severity = none

dotnet_diagnostic.SX1101.severity = none

dotnet_diagnostic.SX1309.severity = none
